<%- include("header") -%>
<div>
    <h3 class="nameStaff">Xin chào <%= nameStaff %> </h3>
    <h3 class="EquipmentOutOfDate">Còn <%= EquipmentOutOfDate %> sinh viên quá hạn trả thiết bị.</h3>
</div>


<%- include("footer") -%>